.logo {
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 8px;
  margin: 4px;
  padding: 4px 8px;

  & > .logo-text {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
  }
}
